{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}

<h3 class="text-center">Login</h3>
<form action="{% url 'login' %}" method="POST" style="width:500px; margin:auto;">
    {% csrf_token %}
    {{ form|crispy }}
    
    <button type="submit" class="btn btn-warning">Login</button>

    <h6 class="pt-3">New user? 
        <a href="{% url 'register' %}" class="text-success">
            <i class="fa fa-registered">egister</i>
        </a>
    </h6>
    <h6>Forgot password? 
        <a href="{% url 'forgot' %}" class="text-danger">
            <i class="fa fa-registered">eset</i>
        </a>
    </h6>

    {% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% elif message.tags == "error" %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
</form>

<br/>
{% endblock %}
