{% extends 'base.html' %}

{% block content %}
<div class="row">
    <!-- Left  sidebar -->
    <!-- load the side bar -->
    {% include 'dashboard/sidebar.html' %}
    <!-- Right Side Content-->
     <div class="col-md-9">
        {% if perms.auth.view_user %}
        <h3 class="text-center">All Users</h3>
        <a href="{% url 'add_user' %}" class="btn btn-dark text-light float-right mb-2">Add User</a>
        <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Active</th>
                <th>Staff</th>
                <th>Superuser</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            {% for user in users %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.is_active %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}</td>
                <td>{% if user.is_staff %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}</td>
                <td>{% if user.is_superuser %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}</td>
                <td>
                  <!--user himself can't edit or delete -->
                  {% if user != request.user and not user.is_superuser %}
                  <a href="{% url 'edit_user' user.id %}"><i class="fa fa-edit text-success"></i></a>
                  &nbsp;
                  <!--<a href="{% url 'delete_user' user.id %}"><i class="fa fa-trash text-danger"></i></a> -->
                  <a href="#" onclick="DeleteUser({{ user.id }}); return false;">
                    <i class="fa fa-trash text-danger"></i>
                  </a>
                  <!-- user is superuser he can edit but can't delete-->
                {% elif user == request.user and user.is_superuser %}
                <a href="{% url 'edit_user' user.id %}"><i class="fa fa-edit text-success"></i></a>
                <a><i class="fa fa-ban fa-fw text-danger"></i></a>
                <!--managers can't edit or delete superuser -->
                {% else %}
                  <i class="fa fa-ban fa-fw text-danger"></i>
                {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h5>You don't have permission to view this page </h5>
          {% endif %}
     </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">  <!-- Custom background color -->
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please confirm to delete the user
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.11/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  var deleteUrl = "";

  function DeleteUser(userId) {

    deleteUrl = "{% url 'delete_user' 0 %}".replace(0, userId);
    
    // Show the modal
    $('#deleteModal').modal('show');
  }

  document.getElementById('confirmDeleteBtn').addEventListener('click', function() {
    // Redirect to the delete URL when the user confirms
    window.location.href = deleteUrl;
  });
</script>

{% endblock %}